CREATE DATABASE Nhom6_IT17322_QuanLyCuaHangDienThoai
GO
USE [Nhom6_IT17322_QuanLyCuaHangDienThoai]
GO
/****** Object:  Table [dbo].[BaoHanh]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoHanh](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[TrangThai] [int] NULL,
	[IdImei] [uniqueidentifier] NULL,
	[NgayBaoHanh] [date] NOT NULL,
	[NgayHoanThanh] [date] NULL,
	[NgayKhachLay] [date] NULL,
	[LyDo] [nvarchar](100) NULL,
	[MoTa] [nvarchar](100) NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSP]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSP](
	[Id] [uniqueidentifier] NOT NULL,
	[IdRom] [uniqueidentifier] NULL,
	[IdRam] [uniqueidentifier] NULL,
	[IdMauSac] [uniqueidentifier] NULL,
	[IdCPU] [uniqueidentifier] NULL,
	[IdManHinh] [uniqueidentifier] NULL,
	[IdPin] [uniqueidentifier] NULL,
	[LoaiHang] [int] NULL,
	[Gia] [decimal](20, 0) NULL,
	[SoLuong] [int] NULL,
	[Mota] [varchar](50) NULL,
	[IdKhuyenMai] [uniqueidentifier] NULL,
	[IdSP] [uniqueidentifier] NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CPU]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPU](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[Id] [uniqueidentifier] NOT NULL,
	[IdKH] [uniqueidentifier] NULL,
	[IdTK] [uniqueidentifier] NULL,
	[Ma] [varchar](20) NOT NULL,
	[MaGiaoDich] [varchar](20) NULL,
	[NgayTao] [date] NULL,
	[NgayThanhToan] [date] NULL,
	[NgayNhanHang] [date] NULL,
	[NgayShip] [date] NULL,
	[NgayNhanMongMuon] [datetime] NULL,
	[TienShip] [decimal](20, 0) NULL,
	[TienThua] [decimal](20, 0) NULL,
	[TienMat] [decimal](20, 0) NULL,
	[ChuyenKhoan] [decimal](20, 0) NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[TongTien] [decimal](20, 0) NULL,
	[TrangThai] [int] NULL,
	[SoLanShip] [int] NULL,
	[SdtNguoiShip] [varchar](15) NULL,
	[TenNguoiShip] [nvarchar](50) NULL,
	[SdtNguoiNhan] [varchar](15) NULL,
	[LoaiThanhToan] [int] NULL,
	[GiamGia] [decimal](20, 0) NULL,
	[LyDo] [nvarchar](100) NULL,
	[lastModifiedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[Id] [uniqueidentifier] NOT NULL,
	[IdHoaDon] [uniqueidentifier] NULL,
	[IdChiTietSP] [uniqueidentifier] NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](20, 0) NULL,
	[Thanhtien] [decimal](20, 0) NULL,
	[SoLuong] [int] NOT NULL,
	[TrangThai] [int] NULL,
	[KhuyenMai] [decimal](20, 0) NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imei]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imei](
	[Id] [uniqueidentifier] NOT NULL,
	[IdChiTietSP] [uniqueidentifier] NULL,
	[Ma] [char](15) NOT NULL,
	[TrangThai] [int] NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImeiBan]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImeiBan](
	[Id] [uniqueidentifier] NOT NULL,
	[IdHoaDonChiTiet] [uniqueidentifier] NULL,
	[Ma] [char](15) NOT NULL,
	[LyDo] [nvarchar](100) NULL,
	[TrangThai] [int] NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [int] NULL,
	[Sdt] [varchar](15) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[CapDo] [int] NULL,
	[NgayTutHang] [date] NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[NgayBD] [datetime] NOT NULL,
	[NgayKT] [datetime] NOT NULL,
	[GiaTri] [int] NULL,
	[TrangThai] [int] NULL,
	[LoaiKM] [int] NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManHinh]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManHinh](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[Ten] [nvarchar](30) NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[Ten] [nvarchar](30) NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pin]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pin](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[Ten] [nvarchar](30) NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ram]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ram](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[Ten] [nvarchar](30) NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rom]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rom](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[Ten] [nvarchar](30) NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[Ten] [nvarchar](30) NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 05-Apr-23 14:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Id] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](20) NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [int] NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Email] [varchar](100) NOT NULL,
	[Sdt] [varchar](15) NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[ChucVu] [int] NULL,
	[HinhAnh] [varchar](50) NULL,
	[TrangThai] [int] NULL,
	[CreatedDate] [date] NULL,
	[lastModifiedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CPU] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'f70a7e75-0a37-c041-8f31-35d23a7a5f5d', N'CPU4', N'Apple A12 Bionic', CAST(N'2023-04-05' AS Date), NULL, 0)
INSERT [dbo].[CPU] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'f516d8ae-e340-3141-a728-4d48c979467d', N'CPU5', N'Qualcomm Snapdragon 855', CAST(N'2023-04-05' AS Date), NULL, 0)
INSERT [dbo].[CPU] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'a30eec54-534d-fe42-8471-879138bffd09', N'CPU3', N'Apple A13 Bionic', CAST(N'2023-04-05' AS Date), NULL, 0)
GO
INSERT [dbo].[HoaDonChiTiet] ([Id], [IdHoaDon], [IdChiTietSP], [TenSP], [DonGia], [Thanhtien], [SoLuong], [TrangThai], [KhuyenMai], [CreatedDate], [lastModifiedDate]) VALUES (N'9f0f2380-39db-3e44-b71b-19ee7d21b897', N'7a26900a-dddd-ca44-b4d1-e161ee753e61', N'd4ee5fa0-6cdb-054f-b444-9dd61403695b', N'Oppo A3 Tím 12GB/64GB Mới', CAST(5000000 AS Decimal(20, 0)), CAST(5000000 AS Decimal(20, 0)), 1, 1, CAST(0 AS Decimal(20, 0)), CAST(N'2023-04-05' AS Date), NULL)
INSERT [dbo].[HoaDonChiTiet] ([Id], [IdHoaDon], [IdChiTietSP], [TenSP], [DonGia], [Thanhtien], [SoLuong], [TrangThai], [KhuyenMai], [CreatedDate], [lastModifiedDate]) VALUES (N'b56646cb-82a1-784c-b486-203982176d0f', N'dd25e32c-acc5-8744-891c-133906c5c6cd', N'6dfea2d5-9704-4b4d-aa69-0934bef2d9b4', N'Vinmart Live 4 Trắng 12GB/32GB Mới', CAST(6000000 AS Decimal(20, 0)), CAST(6000000 AS Decimal(20, 0)), 1, 1, CAST(0 AS Decimal(20, 0)), CAST(N'2023-04-05' AS Date), NULL)
INSERT [dbo].[HoaDonChiTiet] ([Id], [IdHoaDon], [IdChiTietSP], [TenSP], [DonGia], [Thanhtien], [SoLuong], [TrangThai], [KhuyenMai], [CreatedDate], [lastModifiedDate]) VALUES (N'24889e2e-0be5-db45-ab76-61bf93530059', N'e499960a-af56-2a44-bc1c-cafe0d56a06f', N'09cee92e-ef53-ca41-955b-745136e63b81', N'Iphone 6 Plus Trắng 10GB/16GB Mới', CAST(15000000 AS Decimal(20, 0)), CAST(15000000 AS Decimal(20, 0)), 1, 1, CAST(0 AS Decimal(20, 0)), CAST(N'2023-04-05' AS Date), NULL)
GO
INSERT [dbo].[Imei] ([Id], [IdChiTietSP], [Ma], [TrangThai], [CreatedDate], [lastModifiedDate]) VALUES (N'2088794d-9efc-8949-9b1a-01a849be5b51', N'6dfea2d5-9704-4b4d-aa69-0934bef2d9b4', N'534399752409447', 0, CAST(N'2023-04-05' AS Date), CAST(N'2023-04-05' AS Date))
INSERT [dbo].[Imei] ([Id], [IdChiTietSP], [Ma], [TrangThai], [CreatedDate], [lastModifiedDate]) VALUES (N'1fd21983-1fcd-7a42-b465-02ab80558936', N'156359a9-c377-834f-a1b3-4ad5c7b90032', N'631472503394581', 0, CAST(N'2023-04-05' AS Date), CAST(N'2023-04-05' AS Date))
INSERT [dbo].[Imei] ([Id], [IdChiTietSP], [Ma], [TrangThai], [CreatedDate], [lastModifiedDate]) VALUES (N'08b48d26-be5b-3342-a399-06fda77ba201', N'adeaf452-f1dc-4844-8add-2e167d5a3ce1', N'191031758435933', 1, CAST(N'2023-04-05' AS Date), NULL)
GO
INSERT [dbo].[ImeiBan] ([Id], [IdHoaDonChiTiet], [Ma], [LyDo], [TrangThai], [CreatedDate], [lastModifiedDate]) VALUES (N'21ca0127-946a-7c43-a5d1-0c6e5202a233', N'24889e2e-0be5-db45-ab76-61bf93530059', N'669270995978494', NULL, 1, CAST(N'2023-04-05' AS Date), NULL)
INSERT [dbo].[ImeiBan] ([Id], [IdHoaDonChiTiet], [Ma], [LyDo], [TrangThai], [CreatedDate], [lastModifiedDate]) VALUES (N'8cdff6fb-cc92-574f-ab66-430de86beaf6', N'9c32d31d-bf2f-964e-b426-8d23dfd08ee3', N'629477667821459', NULL, 1, CAST(N'2023-04-05' AS Date), NULL)
INSERT [dbo].[ImeiBan] ([Id], [IdHoaDonChiTiet], [Ma], [LyDo], [TrangThai], [CreatedDate], [lastModifiedDate]) VALUES (N'd7499bab-b031-c849-833f-46f88c4833af', N'9dc2006e-63a8-2b40-87de-7a07f47cebcf', N'631472503394581', NULL, 1, CAST(N'2023-04-05' AS Date), NULL)
GO
INSERT [dbo].[KhachHang] ([Id], [Ma], [HoTen], [GioiTinh], [Sdt], [DiaChi], [NgaySinh], [CapDo], [NgayTutHang], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'f6422180-7fe3-974f-846b-0c01a0375eb1', N'KH20230405135133385', N'Nguyễn Văn Tý', 0, N'0987654329', N'Hà Nội', CAST(N'2002-04-28' AS Date), 1, CAST(N'2023-04-05' AS Date), CAST(N'2023-04-05' AS Date), CAST(N'2023-04-05' AS Date), 0)
INSERT [dbo].[KhachHang] ([Id], [Ma], [HoTen], [GioiTinh], [Sdt], [DiaChi], [NgaySinh], [CapDo], [NgayTutHang], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'49d5d745-cc0a-e641-a636-6a7d5680d841', N'KH20230405135034028', N'Nguyễn Văn Tất', 0, N'0923456789', N'Hà Nội', CAST(N'2000-04-01' AS Date), 0, NULL, CAST(N'2023-04-05' AS Date), NULL, 0)
INSERT [dbo].[KhachHang] ([Id], [Ma], [HoTen], [GioiTinh], [Sdt], [DiaChi], [NgaySinh], [CapDo], [NgayTutHang], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'10e97662-a3da-7244-a0e7-72355e0abf84', N'KH20230405135112214', N'Nguyễn Văn Tú', 0, N'0987654325', N'Hà Nội', CAST(N'2003-04-12' AS Date), 0, NULL, CAST(N'2023-04-05' AS Date), CAST(N'2023-04-05' AS Date), 0)
GO
INSERT [dbo].[KhuyenMai] ([Id], [Ma], [Ten], [NgayBD], [NgayKT], [GiaTri], [TrangThai], [LoaiKM], [CreatedDate], [lastModifiedDate]) VALUES (N'3208f88a-137a-b248-8171-75642a9a0be8', N'KM20230405144357655', N'Sale Tháng 3', CAST(N'2023-03-01T01:30:00.000' AS DateTime), CAST(N'2023-03-31T02:30:00.000' AS DateTime), 1000000, 2, 1, CAST(N'2023-04-05' AS Date), CAST(N'2023-04-05' AS Date))
INSERT [dbo].[KhuyenMai] ([Id], [Ma], [Ten], [NgayBD], [NgayKT], [GiaTri], [TrangThai], [LoaiKM], [CreatedDate], [lastModifiedDate]) VALUES (N'387e3ede-a21e-5f4a-bc88-9e66278071eb', N'KM20230405144433959', N'Sale tháng 5', CAST(N'2023-05-01T02:00:00.000' AS DateTime), CAST(N'2023-05-31T02:30:00.000' AS DateTime), 5, 0, 0, CAST(N'2023-04-05' AS Date), CAST(N'2023-04-05' AS Date))
INSERT [dbo].[KhuyenMai] ([Id], [Ma], [Ten], [NgayBD], [NgayKT], [GiaTri], [TrangThai], [LoaiKM], [CreatedDate], [lastModifiedDate]) VALUES (N'a1147421-93f3-e84a-8190-dd84ba3ee35e', N'KM20230405144251213', N'Sale tháng 4', CAST(N'2023-04-01T01:00:00.000' AS DateTime), CAST(N'2023-04-30T01:30:00.000' AS DateTime), 10, 1, 0, CAST(N'2023-04-05' AS Date), CAST(N'2023-04-05' AS Date))
GO
INSERT [dbo].[ManHinh] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'06fe5aa0-2433-054f-9c00-7da7713807b7', N'MH1', N'IPS', CAST(N'2023-04-05' AS Date), CAST(N'2023-04-05' AS Date), 0)
INSERT [dbo].[ManHinh] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'f76a36c0-724b-3e4c-9cb0-a386af68dc7c', N'MH3', N'AMOLED', CAST(N'2023-04-05' AS Date), CAST(N'2023-04-05' AS Date), 0)
INSERT [dbo].[ManHinh] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'0612a19a-d9a6-fb4b-b03a-ce98c875778a', N'MH4', N'LCD', CAST(N'2023-04-05' AS Date), CAST(N'2023-04-05' AS Date), 0)
GO
INSERT [dbo].[MauSac] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'd7cca0b3-ddd5-254e-9520-3525023f75d7', N'MS8', N'Trắng', CAST(N'2023-04-05' AS Date), NULL, 0)
INSERT [dbo].[MauSac] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'5e33e6f9-d05d-d843-8933-4735054ad440', N'MS2', N'Đỏ', CAST(N'2023-04-05' AS Date), NULL, 0)
INSERT [dbo].[MauSac] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'aa3152dd-ce66-3647-8329-6670d9eadaa9', N'MS6', N'Nâu', CAST(N'2023-04-05' AS Date), NULL, 0)
GO
INSERT [dbo].[Pin] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'18f2f6f2-38ed-2749-87e4-58a34c9e983c', N'PI5', N'2000mAh', CAST(N'2023-04-05' AS Date), NULL, 0)
INSERT [dbo].[Pin] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'b16a908d-2102-a249-b72e-b1e459d31586', N'PI3', N'4000mAh', CAST(N'2023-04-05' AS Date), NULL, 0)
INSERT [dbo].[Pin] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'69f23364-149f-cc47-af67-c06e5f029622', N'PI2', N'5000mAh', CAST(N'2023-04-05' AS Date), NULL, 0)
GO
INSERT [dbo].[Ram] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'1a5c326a-0510-6f4b-a88a-5bab9354bee8', N'RA2', N'10GB', CAST(N'2023-04-05' AS Date), NULL, 0)
INSERT [dbo].[Ram] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'd9909b6c-7a60-654c-b0aa-770a1a961fc4', N'RA6', N'3GB', CAST(N'2023-04-05' AS Date), NULL, 0)
INSERT [dbo].[Ram] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'fad6586a-6980-4f4e-adbe-9974f0da74bd', N'RA3', N'8GB', CAST(N'2023-04-05' AS Date), NULL, 0)
GO
INSERT [dbo].[Rom] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'c67a0ddf-48c4-ba4f-8a87-59b5a6c5ff04', N'RO5', N'16GB', CAST(N'2023-04-05' AS Date), NULL, 0)
INSERT [dbo].[Rom] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'c25c5e59-a58a-b545-85c4-6f6c368f707b', N'RO4', N'32GB', CAST(N'2023-04-05' AS Date), NULL, 0)
INSERT [dbo].[Rom] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'0d6b2aff-c49c-624a-ab9c-ab18cd1a7902', N'RO1', N'256GB', CAST(N'2023-04-05' AS Date), NULL, 0)
GO
INSERT [dbo].[SanPham] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'a59a3c9f-af4d-c146-84a6-38ecaa48bdb7', N'SP20230405141440065', N'Iphone 6', CAST(N'2023-04-05' AS Date), NULL, 0)
INSERT [dbo].[SanPham] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'ccec3327-e968-9445-a14e-3dc2e85c221a', N'SP20230405141821798', N'Oppo A3', CAST(N'2023-04-05' AS Date), NULL, 0)
INSERT [dbo].[SanPham] ([Id], [Ma], [Ten], [CreatedDate], [lastModifiedDate], [Deleted]) VALUES (N'3e67b514-8d2c-af43-8896-78ff3f205c8c', N'SP20230405141855649', N'Iphone 12', CAST(N'2023-04-05' AS Date), NULL, 0)
GO
INSERT [dbo].[TaiKhoan] ([Id], [Ma], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [Email], [Sdt], [MatKhau], [ChucVu], [HinhAnh], [TrangThai], [CreatedDate], [lastModifiedDate]) VALUES (N'df223f38-abda-5d4c-bc6f-3736ccc8cc26', N'NV004', N'Nguyễn Anh Tuấn', 0, CAST(N'2003-06-23' AS Date), N'Hà Nam', N'tuan03@gmail.com', N'0927366783', N'1685CE5EC5EC054D28F395200D8A4F5D', 1, N'NV002', 0, CAST(N'2023-04-05' AS Date), NULL)
INSERT [dbo].[TaiKhoan] ([Id], [Ma], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [Email], [Sdt], [MatKhau], [ChucVu], [HinhAnh], [TrangThai], [CreatedDate], [lastModifiedDate]) VALUES (N'9c9f4ab8-4178-cf49-8226-3e05efdc99bf', N'NV001', N'Triệu Văn Tưởng', 0, CAST(N'2003-11-11' AS Date), N'Hưng Yên', N'gaupanda567@gmail.com', N'0923264752', N'21232f297a57a5a743894a0e4a801fc3', 0, N'NV001', 0, CAST(N'2023-04-05' AS Date), NULL)
INSERT [dbo].[TaiKhoan] ([Id], [Ma], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [Email], [Sdt], [MatKhau], [ChucVu], [HinhAnh], [TrangThai], [CreatedDate], [lastModifiedDate]) VALUES (N'6cb2a44d-a0b5-1146-9156-60fbe677b8bf', N'NV003', N'Nguyễn Văn Nhật', 0, CAST(N'2003-02-23' AS Date), N'Thanh Hóa', N'nhat03@gmail.com', N'0927366753', N'7464022B39B5CABCD7C4DBDA3C927F56', 1, N'NV002', 0, CAST(N'2023-04-05' AS Date), NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BaoHanh__3214CC9E40BF55C3]    Script Date: 05-Apr-23 14:59:46 ******/
ALTER TABLE [dbo].[BaoHanh] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CPU__3214CC9EAA17FE3B]    Script Date: 05-Apr-23 14:59:46 ******/
ALTER TABLE [dbo].[CPU] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoaDon__3214CC9E1B6BC79A]    Script Date: 05-Apr-23 14:59:46 ******/
ALTER TABLE [dbo].[HoaDon] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Imei__3214CC9EA7CA0638]    Script Date: 05-Apr-23 14:59:46 ******/
ALTER TABLE [dbo].[Imei] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__3214CC9EAB7DF4FD]    Script Date: 05-Apr-23 14:59:46 ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhuyenMa__3214CC9E416175B0]    Script Date: 05-Apr-23 14:59:46 ******/
ALTER TABLE [dbo].[KhuyenMai] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ManHinh__3214CC9E03545C14]    Script Date: 05-Apr-23 14:59:46 ******/
ALTER TABLE [dbo].[ManHinh] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MauSac__3214CC9EE8A6918A]    Script Date: 05-Apr-23 14:59:46 ******/
ALTER TABLE [dbo].[MauSac] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Pin__3214CC9EC664779A]    Script Date: 05-Apr-23 14:59:46 ******/
ALTER TABLE [dbo].[Pin] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ram__3214CC9EA663E7BD]    Script Date: 05-Apr-23 14:59:46 ******/
ALTER TABLE [dbo].[Ram] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rom__3214CC9E499E30E0]    Script Date: 05-Apr-23 14:59:46 ******/
ALTER TABLE [dbo].[Rom] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SanPham__3214CC9E36B52DAB]    Script Date: 05-Apr-23 14:59:46 ******/
ALTER TABLE [dbo].[SanPham] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__3214CC9EE07C6A84]    Script Date: 05-Apr-23 14:59:46 ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoHanh] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[BaoHanh] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[BaoHanh] ADD  DEFAULT (NULL) FOR [NgayHoanThanh]
GO
ALTER TABLE [dbo].[BaoHanh] ADD  DEFAULT (NULL) FOR [NgayKhachLay]
GO
ALTER TABLE [dbo].[BaoHanh] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BaoHanh] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[ChiTietSP] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ChiTietSP] ADD  DEFAULT ((0)) FOR [LoaiHang]
GO
ALTER TABLE [dbo].[ChiTietSP] ADD  DEFAULT ((0)) FOR [Gia]
GO
ALTER TABLE [dbo].[ChiTietSP] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[ChiTietSP] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ChiTietSP] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[ChiTietSP] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[CPU] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[CPU] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CPU] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[CPU] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (NULL) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (NULL) FOR [NgayNhanHang]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (NULL) FOR [NgayShip]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (NULL) FOR [NgayNhanMongMuon]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienShip]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienThua]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienMat]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [ChuyenKhoan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (NULL) FOR [TenKH]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (NULL) FOR [DiaChi]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [SoLanShip]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (NULL) FOR [SdtNguoiShip]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (NULL) FOR [SdtNguoiNhan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [LoaiThanhToan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT ((0)) FOR [Thanhtien]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT ((0)) FOR [KhuyenMai]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[Imei] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Imei] ADD  DEFAULT (NULL) FOR [IdChiTietSP]
GO
ALTER TABLE [dbo].[Imei] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Imei] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Imei] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[ImeiBan] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ImeiBan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ImeiBan] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ImeiBan] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [GioiTinh]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [DiaChi]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [NgaySinh]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [CapDo]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTutHang]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [GiaTri]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [LoaiKM]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[ManHinh] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ManHinh] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ManHinh] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[ManHinh] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[MauSac] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[MauSac] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MauSac] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[MauSac] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Pin] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Pin] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Pin] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[Pin] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Ram] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Ram] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Ram] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[Ram] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Rom] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Rom] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Rom] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[Rom] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (NULL) FOR [HoTen]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [GioiTinh]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (NULL) FOR [NgaySinh]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (NULL) FOR [DiaChi]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (NULL) FOR [Sdt]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [ChucVu]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (NULL) FOR [lastModifiedDate]
GO
ALTER TABLE [dbo].[BaoHanh]  WITH CHECK ADD FOREIGN KEY([IdImei])
REFERENCES [dbo].[Imei] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD FOREIGN KEY([IdCPU])
REFERENCES [dbo].[CPU] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD FOREIGN KEY([IdKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD FOREIGN KEY([IdManHinh])
REFERENCES [dbo].[ManHinh] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD FOREIGN KEY([IdMauSac])
REFERENCES [dbo].[MauSac] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD FOREIGN KEY([IdPin])
REFERENCES [dbo].[Pin] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD FOREIGN KEY([IdRam])
REFERENCES [dbo].[Ram] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD FOREIGN KEY([IdRom])
REFERENCES [dbo].[Rom] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD FOREIGN KEY([IdSP])
REFERENCES [dbo].[SanPham] ([Id])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([IdKH])
REFERENCES [dbo].[KhachHang] ([Id])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([IdTK])
REFERENCES [dbo].[TaiKhoan] ([Id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD FOREIGN KEY([IdChiTietSP])
REFERENCES [dbo].[ChiTietSP] ([Id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD FOREIGN KEY([IdHoaDon])
REFERENCES [dbo].[HoaDon] ([Id])
GO
ALTER TABLE [dbo].[Imei]  WITH CHECK ADD FOREIGN KEY([IdChiTietSP])
REFERENCES [dbo].[ChiTietSP] ([Id])
GO
ALTER TABLE [dbo].[ImeiBan]  WITH CHECK ADD FOREIGN KEY([IdHoaDonChiTiet])
REFERENCES [dbo].[HoaDonChiTiet] ([Id])
GO
